# Created by https://www.gitignore.io/api/emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*
*flymd.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# End of https://www.gitignore.io/api/emacs

node_modules

.DS_Store

Nova Files
Nova_Data
Plug-ins
Nova Plug*
Nova Ship*
build/

dist
bazel-out
node_modules

# Latex
*.aux
*.dvi
*.log
*.out
*.pdf
*.ps

# Bazel
.bazelrc.user